*.pyc
*.db
.scrapy
dbs
example_project/open_news/thumbnails/*
example_project/items/
example_project/logs/
example_project/twistd.pid
tests/scraper/imgs/*
MANIFEST
.DS_Store
.project
.pydevproject
.settings
*.swp
*.egg-info
dist
build
docs/_build
