include LICENSE
include MANIFEST.in
include README.rst
include requirements.txt
recursive-include dynamic_scraper/static *
recursive-include docs *
recursive-include example_project *
recursive-include tests *
prune docs/_build
prune example_project/.scrapy
prune example_project/open_news/thumbnails
exclude *.pyc